@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin: 10px;
}

div#central {
    padding: 10px;
    text-align: center;
}

div#temp {
    float: right;
    margin-right: 5vw;
    padding: 5px;
}

div#textIniciar {
    float: left;
    padding: 10px;
}

div#textDigitar {
    display: inline-block;
    padding: 10px;
    height: 60vh;
    width: 90vw;
    border: 1px solid black;
}

input#resetar {
    float: right;
    margin-right: 10%;
    padding: 3px;
}